.boxgrid {  
  	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
.alpha30 {
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff);
}
.cv { 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);  
}