* {
  margin: 0;
  padding: 0;
  border: none;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
  background: #fff url('../_img/bg.png') repeat;
  font-family: Helvetica, Arial, sans-serif; 
  color:#333;
}
.wrapper {
	position: relative;
}
.links {
	position: absolute;
	top: 3px;
	left: 0px;
	z-index: 99;
}
.links a {
	display: block;
	color: #000;
	font-size:.8em;
	margin-left: -57px;
	margin-bottom: 1px;
	background-color: #fff;
	padding: 2px 15px 1px 10px;
	width: 55px;
}
.resume {
	background: url('../_img/resume-b.png') no-repeat right center;
}

.email {
	background: url('../_img/email-b.png') no-repeat right center;
}
.flickr {
	background: url('../_img/flickr-b.png') no-repeat right center;
}
h5 {
	margin: 10px;
}

#container {
height: 720px;
width: 100%;
overflow: hidden;
position: relative;
float: left;
}

ul.sections {
height: 100%;
overflow: auto;
}

ul.sections li {
	width: 945px;
	margin: 0 auto -3px;
}

ul.sections > li h2 {
font-size: .9em;
font-weight: normal;
color: #000;
background: #fff;
display: block;
padding: 19px 10px 13px;
/*opacity: .75;*/
overflow: hidden;
cursor: default;
}
h2 p {
	width: 300px;
	float:right;
	color:#888;
	display:block;
	margin-right: -295px;
	background-color: #000;
	padding: 0px 0 ;
}
h2 p span {
	margin-right: 10px;
	color: #000;
}
ul.sections > li.sticky h2 {
position: absolute;
top: 0;
}